#game {
    position: relative;
    width: 600px;
    height: 200px;
    border: 1px solid gray;
    margin: auto;
    overflow: hidden;
    background-color: #f7f7f7;
}

#dino {
    width: 42px;
    height: 50px;
    background-size: 42px 50px;
    position: absolute;
    top: 150px;
    left: 50px;
}

.cactus {
    width: 24px;
    height: 50px;
    background-size: 24px 50px;
    position: absolute;
    top: 150px;
    left: 600px;
}

.alive {
    background-image: url(../img/dino-standart.png);
}

.dead {
    background-image: url(../img/dino-dead.png);
}

.cactus-1 {
    background-image: url(../img/cactus-1.png);
}

.cactus-2 {
    background-image: url(../img/cactus-2.png);
}

.cactus-3 {
    background-image: url(../img/cactus-3.png);
}

.dinoRun {
    animation-name: dinoRun;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.smallJump {
    animation-name: smallJump;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
}

.bigJump {
    animation-name: bigJump;
    animation-duration: 0.25s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
}

.move {
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes dinoRun {
    from {
        background-image: url(../img/dino-run-l.png);
    }
    to {
        background-image: url(../img/dino-run-r.png);
    }
}

@keyframes smallJump {
    from {
        top: 150px;
    }

    to {
        top: 66.66px;
    }
}

@keyframes bigJump {
    from {
        top: 150px;
    }

    to {
        top: 25px;
    }
}

@keyframes move {
    from {
        left: 600px;
    }
    to {
        left: -31px;
    }
}
